{
  "LOGGER": {
    "FORMAT": "[%(asctime)s][%(levelname)s][%(module)s: %(funcName)s] %(message)s",
    "DATE_FORMAT": "%m/%d/%Y %H:%M:%S",
    "LOG_FILE_DIR": "logs"
  },
  "CRON": {
    "SCHEDULE": "0 0 * * 0",
    "COMMENT": "instagram-bio-sotw",
    "USERNAME": "<your local username>",
    "VENV": "venv"
  },
  "LAST_FM": {
    "KEY": "<your last.fm API key>",
    "USERNAME": "<your Last.fm username>"
  },
  "INSTAGRAM": {
    "USERNAME": "<your Instagram username>",
    "PASSWORD": "<your Instagram password>",
    "MFA: "<your Instagram MFA code>",
    "PROFILE": {
      "email": "<your Instagram email>",
      "phone_number": "<your Instagram phone number>",
      "username": "<your Instagram username>",
      "full_name": "<your Instagram name>",
      "biography": "🎧 song of the week ({date}): {track}",
      "external_url": "<your website>"
    },
    "SETTINGS_FILE_DIR": "settings"
  }
  "DATE_FMT": "%b %-d"
}
