certifi==2022.6.15
chardet==5.0.0
charset-normalizer==2.1.1
idna==3.3
instagrapi==1.16.29
Pillow==9.2.0
pycryptodomex==3.15.0
pydantic==1.9.2
pyotp==2.6.0
PySocks==1.7.1
python-crontab==2.6.0
python-dateutil==2.8.2
requests==2.28.1
six==1.16.0
typing-extensions==4.3.0
urllib3==1.26.11
zhon==1.1.5
