certifi==2021.10.8
chardet==4.0.0
idna==3.3
instagrapi==1.15.14
Pillow==8.4.0
pycryptodomex==3.9.9
pydantic==1.8.2
PySocks==1.7.1
python-crontab==2.6.0
python-dateutil==2.8.2
requests==2.26.0
six==1.16.0
typing-extensions==3.10.0.2
urllib3==1.26.7
zhon==1.1.5
